
body::before{
    display: block;
    height: 80px;
    content: '';
}

.hero-pg{
    background-image: url(./images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


